@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: white;
  font-size: 15px;
  line-height: 2;
  width: 100%;
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/*header*/
header {
  width: 100%;
  height: 100px;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 10;
  opacity: 0.7;
}

header img {
  float: left;
  width: 200px;
  padding: 25px 50px 0 10px;
}

header ul {
  margin: 35px 0;
}

header li {
  float: left;
  margin-right: 30px;
}

header li:hover {
  border-bottom: 1px solid white;
}

@media screen and (max-width: 630px) {
header {
    height: 150px;
}

header img  {
    margin: 0 25%
 }

header ul {
    float: left;
    margin: 20px 10% 0;
}
}

/*wrap*/
.wrap {
  width: auto;
  height: auto;
  background-image: url(/images/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-shadow: 1px 1px 1px black;
}

/*top*/
.top {
  width: 100%;
  height: 100%;
}

.top-main {
  text-align: center;
  padding-top: 200px;
}

.top-profile {
  text-align: center;
  padding-top: 300px;
}

.top-profile img {
  width: 200px;
}

.top-contents {
  padding: 300px 0;
  width: auto;
  height: auto;
}

.top-contents h1 {
  text-align: center;
  padding-bottom: 100px;
}

.top-contents-item {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

@media screen and (max-width: 630px) {
  .top-contents-item{
    padding: 0 10%;
  }
}

/*profile*/

/*footer*/
footer {
  height: 50px;
  background-color: black;
  position: relative;
}

footer small {
  position: absolute;
  bottom: 0;
}
